#header {margin: 0px; background-color: rgb(220,220,220);}
#gLogin {width: 50px;}
#grid {grid-column: auto auto auto; grid-row: auto auto auto;}

.center{text-align: center;}

body{font-family: sans-serif;}
h1{margin: 0px; width: 20ex;}
